<div class="container" id="login">
    <h2>Ecotrack</h2>
    <form (ngSubmit)="olvidarPassword()" #form="ngForm">
        <span>¿Tienes problemas para iniciar sesión?</span>
        <br><br>
        <p>Introduce tu correo electrónico para que podamos enviarte un enlace para reiniciar tu contraseña y puedas volver entrar a tu cuenta</p>
        <div class="mb-3">
            <input [(ngModel)]="email" type="text" placeholder="Email *" class="form-control" id="email" name="email" required #correo="ngModel">
            <div style="color: red;" [hidden]="correo.valid || correo.untouched">
                Este campo es obligatorio
            </div>
        </div>

        <button type="submit" class="btn btn-success" id="olvidarContraseña" [disabled]="form.invalid">Enviar enlace</button>
        
    </form>
    <a routerLink="">Iniciar sesión</a>
    <div *ngIf="error" class="alert alert-danger mt-3">
        {{error}}
    </div>
    <div *ngIf="mensaje" class="alert alert-success mt-3">
        {{mensaje}}
    </div>
</div>