<div id="login">
    <h2>Reinicie su contraseña</h2>
    <form (ngSubmit)="reiniciarPassword()" #form="ngForm">
        <div class="mb-3">
            <div class="campo">
                <input [(ngModel)]="password" type="password" placeholder="Nueva contraseña" (change)="comprobarPassword()" class="form-control" id="password" name="password" required #pass="ngModel"><i (click)="mostrarPassword('password')" class="fa-regular fa-eye" id="toggleIcon"></i>
            </div>
            <div style="color: red;" [hidden]="pass.valid || pass.untouched">
                Este campo es obligatorio
            </div>
        </div>

        <div class="mb-3">
            <div class="campo">
                <input [(ngModel)]="passwordRepetida" type="password" placeholder="Repite la contraseña" (change)="comprobarPassword()" class="form-control" id="passwordRepetida" name="passwordRepetida" required #passRep="ngModel"><i (click)="mostrarPassword('passwordRepetida')" class="fa-regular fa-eye" id="toggleIcon"></i>
            </div>
            <span *ngIf="passwordDiferentes" style="color: red;">Las contraseñas tienen que ser iguales</span>
            <div style="color: red;" [hidden]="passRep.valid || passRep.untouched">
                Este campo es obligatorio
            </div>
        </div>

        <button type="submit" class="btn btn-success" id="reiniciarContraseña" [disabled]="form.invalid || passwordDiferentes" >Reiniciar contraseña</button>
        
    </form>
    <a routerLink="/login">Iniciar sesión</a>
    <div *ngIf="error" class="alert alert-danger mt-3">
        {{error}}
    </div>
    <div *ngIf="mensaje" class="alert alert-success mt-3">
        {{mensaje}}
    </div>
</div>