#encabezado{
    background-color: #4CAF50;
    color: white;
    box-shadow: 10px 0px 15px rgb(156, 156, 156);
    height: 80px;
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  white-space: nowrap;
}

.nav-link{
    color: white;
    font-size: 18px;
}


#usuario {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #4CAF50;
}




@media (max-width: 991.98px) {
  .navbar-title {
    position: static;
    transform: none;
    font-size: 1.4rem;
    margin-right: auto;
  }
}