.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    font-family: sans-serif;
    gap: 2rem;
    position: relative;
}

h2{
    font-weight: bold;
    color: rgb(64, 124, 80);
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    padding: 2rem;

}

label{
    font-weight: bold;
}

input{
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 0.5rem;
    color: gray;
}

#iniciarSesion{
    width: 100%;
    margin-top: 1rem;
}

.form-control:focus {
  border-color: #86fea0;
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 93, 0.25);
}

span{
    margin-top: 0.5rem;
    font-size: 15px;
}

input{
    border-radius: 3px;
}



button{
    font-weight: bold;
    border-radius: 3px;
    
}

#actualizar{
    margin-bottom: 0.5rem;
}
h5{
    font-weight: bold;
    border-bottom: 2px solid black;
    margin-bottom: 3rem;
    position: relative;
}

#cerrarSesion{
    background-color: rgb(238, 238, 238);
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.card{
    position: absolute;
    top: 300px;
    box-shadow: 5px 7px 15px;
    border-radius: 10px;
}

#botones{
    display: flex;
    gap: 1rem;
}

#volver{
    position: absolute;
    left: 0;
}