<main *ngIf="usuarioActual">
    <div class="container">
    <button type="button" class="btn btn-success" id="volver" routerLink="">Volver</button>
    <h2>Perfil</h2>

    <div *ngIf="error" class="alert alert-danger mt-3">
        {{ error }}
        </div>

    <div *ngIf="mensaje" class="alert alert-success mt-3">
        {{ mensaje }}
    </div>
    
    <form (ngSubmit)="modificarUsuario()" #form="ngForm">
        <h5>Mi cuenta</h5>
        <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input [(ngModel)]="nombre" type="text" value={{nombre}} class="form-control" id="nombre" name="nombre" required #name="ngModel" > <!--Accede al estado del input-->
            <div style="color: red;" [hidden]="name.valid || name.untouched"> <!--Si esta vacio o han dejado de seleccionar el input falla-->
                Este campo es obligatorio
            </div>
        </div>

        <div class="mb-3">
            <label for="apellidos">Apellidos</label>
            <input [(ngModel)]="apellidos" type="text" value="{{apellidos}}" class="form-control" id="apellidos" name="apellidos" required #apellido="ngModel">
            <div style="color: red;" [hidden]="apellido.valid || apellido.untouched">
                Este campo es obligatorio
            </div>
        </div>

        <div class="mb-3">
            <label for="nombreUsuario">Nombre de usuario</label>
            <input [(ngModel)]="nombreUsuario"  type="text" value="{{nombreUsuario}}" class="form-control" id="nombreUsuario" name="nombreUsuario" required #nameUser="ngModel">
            <div style="color: red;" [hidden]="nameUser.valid || nameUser.untouched">
                Este campo es obligatorio
            </div>
        </div>

        <div class="mb-3">
            <label for="Email">email</label>
            <input [(ngModel)]="email"  type="text" value="{{email}}" class="form-control" id="email" name="email" disabled required #correo="ngModel">
            <div style="color: red;" [hidden]="correo.valid || correo.untouched">
                Este campo es obligatorio
            </div>
        </div>

        <button type="submit" class="btn btn-success" id="actualizar" [disabled]="form.invalid">Modificar</button>
    </form>

    <div id="botones">
        <button type="button" class="btn btn-light" (click)="cerrarSesion()">Cerrar sesion</button>
        <button type="button" class="btn btn-light" id="eliminarCuenta" (click)="mostrarModalEliminar()">Eliminar cuenta</button>
    </div>
    

    <div class="card">
     <div *ngIf="mostrarAlerta" class="card-body">
            <p class="card-text">No has realizado ningun cambio</p>
            <a class="btn btn-success" (click)="cerrarAlerta()">Aceptar</a>
        </div>
    </div>

    <div class="card">
     <div *ngIf="mostrarAlertaEliminarUsuario" class="card-body">
            <p class="card-text">¿Estás seguro de que quieres eliminar tu perfil de usuario?</p>
            <a class="btn btn-success" (click)="cerrarAlertaEliminar()">Cerrar</a>
            <a class="btn btn-danger" (click)="eliminarUsuario()" style="margin-left: 1rem;">Eliminar</a>
        </div>
    </div>


</div>

</main>
