{
    email admin@ecotrack.com
}

ecotrack-pi.duckdns.org {
    tls internal

    # API → Backend Spring (keep full path /api/...)
    handle /api/* {
        reverse_proxy ecotrack-backend:8080
    }

    # Frontend Angular (everything else)
    handle {
        reverse_proxy ecotrack-frontend:80
    }
}
