footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(78, 78, 78);
    color: white;
    box-shadow: 0px -5px 15px rgb(177, 177, 177);
    height: 70px;

}