footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(193, 193, 193);
    color: rgb(20, 20, 20);
    box-shadow: 0px -5px 15px rgb(177, 177, 177);
    position: absolute;
    bottom: 0;
    height: 70px;
    margin: 0;
}