<body *ngIf="usuarioActual">

  <app-navbar></app-navbar>


<div id="body">
    <h2>Modificar consumo</h2>
    <form (ngSubmit)="modificarConsumo()" #form="ngForm">
        Categoria*
        <select class="form-select" [(ngModel)]="categoria" (change)="validarUnidad()" name="categoria" aria-label="Default select example" required #cat="ngModel">
            <option selected value="" disabled>Categoria</option>
            <option value="AGUA">Agua</option>
            <option value="ELECTRICIDAD">Electricidad</option>
            <option value="GAS">Gas</option>
        </select>

        <div class="mb-3">
          Unidad de medida *
          <select class="form-select" [(ngModel)]="unidad" (change)="validarUnidad()" name="unidad" aria-label="Default select example" required #uni="ngModel">
            <option selected value="" disabled>Unidad</option>
            <option value="M3">Metros cúbicos (Agua o gas) </option>
            <option value="KWH">Kwh(Electricidad)</option>
          </select>
            <div style="color: red;" [hidden]="uni.valid || uni.untouched">
                Este campo es obligatorio
            </div>

            <div *ngIf="!unidadCorrecta && unidad && categoria">
              <span style="color: red;">
                Unidad incorrecta, m³ para agua y gas y kWh para electricidad
              </span>
            </div>

        </div>

        <div style="color: red;" [hidden]="cat.valid || cat.untouched">
            Este campo es obligatorio
        </div>

        <div class="mb-3">
            Cantidad *
            <input [(ngModel)]="cantidad" type="number" step="0.01" class="form-control" id="cantidad" name="cantidad" (click)="controlarCantidad()" required #cant="ngModel"> 
            <div style="color: red;" [hidden]="cant.valid || cant.untouched"> 
                Este campo es obligatorio
            </div>
        </div>

         Año: 
    <select [(ngModel)]="anio" name="anio" required class="form-control mb-2">
        <option *ngFor="let y of anios" [value]="y">{{ y }}</option>
    </select>
    Mes:
    <select [(ngModel)]="mes" name="mes" required class="form-control mb-2">
        <option value="1">Enero</option>
        <option value="2">Febrero</option>
        <option value="3">Marzo</option>
        <option value="4">Abril</option>
        <option value="5">Mayo</option>
        <option value="6">Junio</option>
        <option value="7">Julio</option>
        <option value="8">Agosto</option>
        <option value="9">Septiembre</option>
        <option value="10">Octubre</option>
        <option value="11">Noviembre</option>
        <option value="12">Diciembre</option>
    </select>

        <div class="mb-3">
            <textarea [(ngModel)]="notas" class="form-control" id="notas" name="notas" placeholder="Escribe una nota" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-success" id="registrarConsumo" [disabled]="form.invalid || !unidadCorrecta">Guardar</button>
        <div class="btn btn-secondary" (click)="limpiar()">Limpiar</div>
    </form>

    <div *ngIf="mensaje" class="alert alert-success mt-3">
        {{ mensaje }} <p>Co2 generado: {{ co2 }}</p>
    </div>

</div>

</body>
