<body *ngIf="usuarioActual">


<app-navbar></app-navbar>


<div id="body">

    <h2>Registrar Objetivo de reducción</h2>

    <form (ngSubmit)="registrarObjetivo()" #form="ngForm">
        <div class="mb-3">
            Meta de Co2 a lograr para final de mes:
            <input [(ngModel)]="meta_co2" type="number" step="0.01" class="form-control" placeholder="0" id="meta_co2" name="meta_co2" required #co2="ngModel"> 
            <div style="color: red;" [hidden]="co2.valid || co2.untouched"> 
                Este campo es obligatorio
            </div>
        </div>

        <div class="mb-3">
          Fecha de inicio *
            <input [(ngModel)]="fechaInicio" type="date" class="form-control" id="fecha" name="fecha" (change)="comprobarFecha()" required #fec="ngModel">
            <span *ngIf="fechaInvalida" style="color: red;">La fecha no puede ser anterior a hoy</span>
            <div style="color: red;" [hidden]="fec.valid || fec.untouched">
                Este campo es obligatorio
            </div>
        </div>

        <div class="mb-3">
            <textarea [(ngModel)]="descripcion" class="form-control" id="descripcion" name="descripcion" placeholder="Escribe una descripcion" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-success" id="registrarObjetivo" [disabled]="form.invalid">Guardar</button>
        <div class="btn btn-secondary" (click)="limpiar()">Limpiar</div>
    </form>

    <div *ngIf="mensaje" class="alert alert-success mt-3">
        {{ mensaje }} <p>Co2 generado: {{ co2 }}</p>
    </div>

    <h2>
        Consejos a seguir
    </h2>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h3 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Fija un objetivo basado en consumo diario o mensual y utiliza dispositivos medidores
            </button>
            </h3>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>
                        Ejemplo: Reducir 20% el consumo de agua en la ducha comparado con el mes anterior.
                    </li>
                    <li>
                        Acción práctica: instalar un contador de agua o registrar litros usados por actividad. Esto convierte la meta abstracta en algo cuantificable y fácil de monitorear.
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Enfócate en hábitos y aparatos específicos que generen más CO₂.
            </button>
            </h3>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>
                        Ejemplo: Apagar luces y dispositivos electrónicos durante 2 horas al día” o “reducir el uso del aire acondicionado en 1 hora diaria.
                    </li>
                    <li>
                        Justificación: la electricidad es uno de los mayores contribuyentes de emisiones domésticas. Medir kWh ahorrados vs mes anterior permite registrar el progreso real.
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="accordion-item">
            <h3 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Establece un objetivo de temperatura o uso eficiente y registra el consumo mensual.
            </button>
            </h3>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>
                        Ejemplo: Mantener la calefacción a 20 °C máximo durante enero y febrero o reducir el tiempo de uso del horno en un 15% este mes.
                    </li>
                    <li>
                        Acción práctica: registrar los metros cúbicos de gas consumidos comparando con meses anteriores, de modo que el objetivo sea tangible y motivador.
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

</div>



</body>
