.chart-container {
  width: 100%;
  height: auto;
  min-height: 400px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.graph-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .chart-container {
    min-height: 280px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .chart-container {
    min-height: 300px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .chart-container {
    min-height: 350px;
  }
}

@media (min-width: 1025px) {
  .chart-container {
    min-height: 400px;
  }
}