

<body *ngIf="usuarioActual">
  

<app-navbar></app-navbar>


<main id="body">
    <div *ngIf="consumos.length === 0" id="alerta">
        <span>¡Todavia no tienes cosumos registrados!</span>
        <button type="button" class="btn btn-success rounded-circle" id="añadirTarea" (click)="registrarConsumo()">+ </button>
    </div>
    <h2>Historial de consumos</h2>
    <table *ngIf="consumos.length >= 1" class="table">
        <thead>
            <tr>
                <th scope="col">Categoria</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Unidad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Notas</th>
                <th scope="col">Co2 generado</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let consumo of consumos">
                <td name="categoria">{{ consumo.categoria }}</td>
                <td name="cantidad">{{ consumo.cantidad }}</td>
                <td name="unidad">{{ consumo.unidad }}</td>
                <td name="fecha">{{ consumo.fecha }}</td>
                <td>
                  <div *ngIf="consumo.notas" class="dropdown-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

                    </button>
                    <article class="dropdown-menu">  
                      <span name="notas">{{consumo.notas}}</span>
                    </article>
                  </div>      
                </td>
                <td style="color: rgb(87, 184, 87);" name="co2">{{ consumo.co2 }}</td>
                <td><button type="button" class="btn btn-success" (click)="redirigirModificarConsumo(consumo)" style="margin-left: 1rem;" title="Modificar">
                  <i class="bi bi-pencil"></i>
                </button></td>
                <td><button class="btn btn-danger" (click)="mostrarModalEliminar(consumo.id)" style="margin-left: 1rem;" title="Eliminar">
                  <i class="bi bi-trash"></i>
                </button></td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="modalEliminar" class="card-body" id="modal-eliminar">
      <p class="card-text">¿Estás seguro de que quieres eliminar este consumo?</p>
      <a class="btn btn-success" (click)="cerrarModal()">Cerrar</a>
      <a class="btn btn-danger" (click)="eliminarConsumo()" style="margin-left: 1rem;">Eliminar</a>
    </div>
</main>
</body>