<body *ngIf="usuarioActual">
<app-navbar></app-navbar>

    <h2>Mis objetivos de reduccion</h2>

    <div *ngIf="noHayObjetivos" id="alerta">
        <span>¡Todavia no tienes objetivos registrados!</span>
        <button type="button" class="btn btn-success bi-plus-circle" id="añadirTarea" (click)="registrarObjetivo()"> </button>
    </div>



      <div *ngIf="!noHayObjetivos" class="filtros">
      <div id="buscador">
         <input type="text" placeholder="Buscar" #termino id="buscar">
        <button type="button" class="btn btn-success" (click)="buscar(termino)">Buscar</button>
      </div>

      <div class="nav-item dropdown" id="objetivos-dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          Ordenar
        </a>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" (click)="ordenarReciente()">Más reciente</button></li>
          <li><button class="dropdown-item" (click)="ordenarAntiguo()">Más antiguo</button></li>
        </ul>
      </div>
     
    </div>

<main *ngIf="objetivos.length >= 1">
  
    <section>
        <div *ngFor="let objetivo of objetivos" id="objetivo" [style.border-left]="'4px solid ' + obtenerColorEstado(objetivo.estado)">
            <p>Mes objetivo: <span>{{objetivo.fechaInicio}}</span></p>
            <p>Fecha de finalizacion: <span>{{objetivo.fechaFin}}</span></p>
            <p>Meta de Co2: <span>{{objetivo.meta_co2}} kg</span></p>
            <p>Estado: <span>{{obtenerEstado(objetivo.estado)}}</span></p>
            <p *ngIf="objetivo.descripcion">Descripcion: <span>{{objetivo.descripcion}}</span></p>
            <button class="btn btn-danger" (click)="mostrarModalEliminar(objetivo.id)" id="eliminar" style="margin-left: 1rem;" title="Eliminar">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </section>


    <div *ngIf="modalEliminar" class="card-body" id="modal-eliminar">
      <p class="card-text">¿Estás seguro de que quieres eliminar este objetivo?</p>
      <a class="btn btn-success" (click)="cerrarModal()">Cerrar</a>
      <a class="btn btn-danger" (click)="eliminarObjetivo()" style="margin-left: 1rem;">Eliminar</a>
    </div>
</main>

<button type="button" class="btn btn-success" id="crearNotaBtn" routerLink="/registrar-objetivo">
        <i class="bi bi-plus-circle"></i> Nuevo objetivo
      </button>
    

</body>

