#login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    gap: 2rem;
    background-color: rgb(225, 229, 244);
    height: 100vh;
    width: 100%;
}

h2{
    font-weight: bold;
    color: rgb(64, 124, 80);
}

form{
    text-align: center;
    width: 350px;
    background-color: rgb(238, 237, 247);
    border-radius: 7px;
    padding: 2rem;
    box-shadow: 2px 5px 15px rgb(156, 156, 156);
}

form > span{
    font-weight: bold;
}


#reiniciarContraseña{
    width: 100%;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 1rem;
}

.form-control:focus {
  border-color: #86fea0;
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 93, 0.25);    
}

span{
    margin-top: 2rem;
    font-size: 15px;
}

.campo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


