body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #F5F5F5 0%, #E8F5E9 100%);
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

app-navbar{
    width: 100%;
}

#alerta{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    gap: 1rem;
    background-color: rgb(252, 252, 255);
    box-shadow: 2px 5px 15px rgb(156, 156, 156);
    padding: 1rem;
    border-radius: 5px;
}

h2{
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #4CAF50;
    border-radius: 12px;
    padding: 1rem;
    margin: 2rem;
    width: 450px;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 95%;
}

.card-body{
    position: absolute;
    background-color: white;
    top: 200px;
    padding: 1rem;
    box-shadow: 5px 7px 15px;
    border-radius: 10px;
}

#objetivo{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 1rem;
    margin: 2rem;
    width: 500px;
    position: relative;
}

span{
    color: gray;
}

#eliminar{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}