main{
  display: flex;
  flex-direction: column;
  margin: 3rem;
  margin-left: 5rem;
  
}

.btn{
  width: 250px;
  margin-top: 0.5rem;
}

body{
  margin: 0 ;
  background-color: rgb(240, 243, 255);
  height: 100vh;
}