#encabezado{
    background-color: #4CAF50;
    color: white;
    box-shadow: 10px 0px 15px rgb(156, 156, 156);
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  white-space: nowrap;
}

.nav-link{
    color: white;
}

#usuario {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #4CAF50;
}


@media (max-width: 991.98px) {
  .navbar-title {
    position: static;
    transform: none;
    font-size: 1.4rem;
    margin-right: auto;
  }
}

#body{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
  
form{
    background-color: rgb(252, 252, 255);
    border-radius: 7px;
    padding: 2rem;
    width: 95%;
    box-shadow: 2px 5px 15px rgb(156, 156, 156);
}

.form-control:focus {
  border-color: #86fea0;
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 93, 0.25);
}

.form-select:focus{
    border-color: #86fea0;
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 93, 0.25);
}


#registrarConsumo{
  margin-right: 0.5rem;
}